In [74]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [75]:
from dukto.pipe import Pipe
from dukto.processor import ColProcessor, MultiColProcessor, Transformer
import pandas as pd
import numpy as np

In [76]:
data  = pd.read_csv('data/ufc.csv', index_col=0)

In [77]:
data

,agg_dob_first,agg_dob_second,agg_height_first,agg_height_second,agg_reach_first,agg_reach_second,agg_recodr_first,agg_recodr_second,agg_sapm_first,agg_sapm_second,...,first_sig_str_,first_sig_str_percentage,first_total_str,method,second_sig_str_,second_sig_str_percentage,second_total_str,time,type,weight_class
0,19-Jul-87,26-Dec-89,"6' 4""","6' 4""","84""","77""",Record: 26-1-0 (1 NC),Record: 12-3-0,2.22,3.73,...,104 of 166,62%,107 of 170,Decision - Unanimous,116 of 259,44%,119 of 263,5:00,belt,Light Heavyweight
1,7-Mar-88,28-Dec-88,"5' 5""","5' 9""","66""","68""",Record: 21-3-0,Record: 16-4-0,1.99,4.37,...,40 of 65,61%,57 of 82,KO/TKO,17 of 56,30%,27 of 68,1:03,belt,Women's Flyweight
2,16-Jan-92,13-Dec-93,"6' 5""","6' 0""","80""","74""",Record: 5-3-0,Record: 4-3-0,4.06,6.12,...,7 of 11,63%,7 of 11,KO/TKO,10 of 15,66%,10 of 15,1:59,NaN,Heavyweight
3,16-Feb-91,6-Aug-91,"5' 8""","5' 7""","70""","71""",Record: 13-4-0,Record: 15-3-0,1.80,3.36,...,17 of 60,28%,29 of 74,Decision - Split,43 of 88,48%,64 of 117,5:00,NaN,Featherweight
4,7-Feb-85,28-Jul-83,"6' 3""","5' 10""","79""","73""",Record: 25-7-0 (1 NC),Record: 16-8-0 (1 NC),2.16,2.86,...,20 of 50,40%,27 of 58,Decision - Unanimous,5 of 12,41%,62 of 77,5:00,NaN,Heavyweight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5918,10-Aug-93,30-May-88,"5' 1""","5' 3""","62""","64""",Record: 12-1-0,Record: 16-2-0,1.93,3.08,...,23 of 44,52%,26 of 48,TKO - Doctor's Stoppage,36 of 80,45%,39 of 83,5:00,NaN,Women's Strawweight
5919,30-Mar-94,23-Nov-92,"6' 0""","6' 1""","77""","75""",Record: 11-2-0,Record: 8-2-0,2.95,5.31,...,91 of 260,35%,114 of 286,Decision - Unanimous,64 of 141,45%,68 of 146,5:00,NaN,Welterweight
5920,28-Jun-89,4-Mar-86,"6' 4""","5' 10""","79""","72""",Record: 13-4-0,Record: 15-7-2,7.51,4.68,...,79 of 160,49%,100 of 186,Decision - Split,64 of 114,56%,245 of 309,5:00,NaN,Heavyweight
5921,5-Feb-89,12-Apr-89,"5' 8""","6' 0""","69""","70""",Record: 11-3-0,Record: 21-6-1,4.43,4.29,...,1 of 2,50%,1 of 2,KO/TKO,10 of 17,58%,14 of 22,0:37,NaN,Lightweight
5922,7-Oct-97,14-Nov-95,"5' 6""","5' 4""","69""","67""",Record: 6-0-0,Record: 7-1-0,1.84,6.93,...,71 of 129,55%,176 of 246,Submission,41 of 65,63%,76 of 103,2:54,NaN,Women's Flyweight

## ColProcessor
### applies function/s to a column/s

In [92]:
def convert_foot_to_cm(r):
    if isinstance(r, str):
        foot, inches = r.split("'")
        inches = int(foot)*12 + int(inches.replace('"', ''))
        return inches*2.54
    return np.nan

def convert_inch_to_cm(r):
    if isinstance(r,str):
        return int(inches.replace('"', '')) * 2.54
    return np.nan

In [100]:
pipes = [ColProcessor(name=['agg_height_first','agg_height_second'], funcs=[convert_foot_to_cm], funcs_test={"6'2\"":187.96}),
ColProcessor(name=['agg_reach_first','agg_reach_second'], funcs=[convert_inch_to_cm], funcs_test={"6'2\"":187.96})]

In [101]:
pipe = Pipe(data=data, pipeline=pipes, run_test_cases=False)

In [102]:
pipe.run()

,agg_dob_first,agg_dob_second,agg_height_first,agg_height_second,agg_reach_first,agg_reach_second,agg_recodr_first,agg_recodr_second,agg_sapm_first,agg_sapm_second,...,first_sig_str_,first_sig_str_percentage,first_total_str,method,second_sig_str_,second_sig_str_percentage,second_total_str,time,type,weight_class
0,19-Jul-87,26-Dec-89,NaN,NaN,NaN,NaN,Record: 26-1-0 (1 NC),Record: 12-3-0,2.22,3.73,...,104 of 166,62%,107 of 170,Decision - Unanimous,116 of 259,44%,119 of 263,5:00,belt,Light Heavyweight
1,7-Mar-88,28-Dec-88,NaN,NaN,NaN,NaN,Record: 21-3-0,Record: 16-4-0,1.99,4.37,...,40 of 65,61%,57 of 82,KO/TKO,17 of 56,30%,27 of 68,1:03,belt,Women's Flyweight
2,16-Jan-92,13-Dec-93,NaN,NaN,NaN,NaN,Record: 5-3-0,Record: 4-3-0,4.06,6.12,...,7 of 11,63%,7 of 11,KO/TKO,10 of 15,66%,10 of 15,1:59,NaN,Heavyweight
3,16-Feb-91,6-Aug-91,NaN,NaN,NaN,NaN,Record: 13-4-0,Record: 15-3-0,1.80,3.36,...,17 of 60,28%,29 of 74,Decision - Split,43 of 88,48%,64 of 117,5:00,NaN,Featherweight
4,7-Feb-85,28-Jul-83,NaN,NaN,NaN,NaN,Record: 25-7-0 (1 NC),Record: 16-8-0 (1 NC),2.16,2.86,...,20 of 50,40%,27 of 58,Decision - Unanimous,5 of 12,41%,62 of 77,5:00,NaN,Heavyweight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5918,10-Aug-93,30-May-88,NaN,NaN,NaN,NaN,Record: 12-1-0,Record: 16-2-0,1.93,3.08,...,23 of 44,52%,26 of 48,TKO - Doctor's Stoppage,36 of 80,45%,39 of 83,5:00,NaN,Women's Strawweight
5919,30-Mar-94,23-Nov-92,NaN,NaN,NaN,NaN,Record: 11-2-0,Record: 8-2-0,2.95,5.31,...,91 of 260,35%,114 of 286,Decision - Unanimous,64 of 141,45%,68 of 146,5:00,NaN,Welterweight
5920,28-Jun-89,4-Mar-86,NaN,NaN,NaN,NaN,Record: 13-4-0,Record: 15-7-2,7.51,4.68,...,79 of 160,49%,100 of 186,Decision - Split,64 of 114,56%,245 of 309,5:00,NaN,Heavyweight
5921,5-Feb-89,12-Apr-89,NaN,NaN,NaN,NaN,Record: 11-3-0,Record: 21-6-1,4.43,4.29,...,1 of 2,50%,1 of 2,KO/TKO,10 of 17,58%,14 of 22,0:37,NaN,Lightweight
5922,7-Oct-97,14-Nov-95,NaN,NaN,NaN,NaN,Record: 6-0-0,Record: 7-1-0,1.84,6.93,...,71 of 129,55%,176 of 246,Submission,41 of 65,63%,76 of 103,2:54,NaN,Women's Flyweight

In [70]:

# ColProcessor 
pipeline = [
    ColProcessor('chem_grade',
                 funcs=[lambda x:(int(x.split('/')[0])/60)*100, int], 
                 funcs_test={'26/60':43},
                drop=True),
    ColProcessor(['phy_grade', 'bio_grade'], 
                 funcs=lambda x:int(x)),
    ColProcessor('age', 
                 funcs=lambda x:int(x[:-1])/12 if 'm' in x else int(x)),
    ColProcessor('height',
                 funcs_test={'156cm': 156, ''},
                 funcs=lambda x:float(x[:-2])*2.54),
    ColProcessor('grade',
                 funcs=[grade_prod_mapper, lambda x:int(x[:-2])], 
                 suffix='_new')
]

SyntaxError: invalid syntax (<ipython-input-70-3697cfdfb3d0>, line 11)

In [47]:
data

,name,chem_grade,phy_grade,bio_grade,age,height,grade,class
0,Jalyiah Darcey,26/60,77.0,17,17,156cm,Freshman,NaN
1,Eunita Beahm,11/60,56.0,67,184m,164cm,Freshman,C
2,Guluzar Bernand,42/60,97.0,65,18,157cm,Freshman,A
3,Jonatham Mcnicoll,57/60,68.0,92,17,149cm,Freshman,B
4,Greison Hisrich,56/60,96.0,49,14,163cm,Freshman,C
...,...,...,...,...,...,...,...,...
281,Bremen Hewatt,44/60,67.0,46,14,134cm,Freshman,B
282,Venerino Billey,16/60,63.0,60,17,130cm,Freshman,C
283,Aylmar Berken,33/60,47.0,96,18,155cm,Freshman,C
284,Lhiam Roysum,35/60,31.0,76,14,167cm,Freshman,C
285,Lagena Kan,12/60,55.0,83,18,132cm,Freshman,C

## MultiColProcessor

## applies a function that takes and returns a dataframe
## this class is used to add columns based on other column/s

In [16]:
def avg_grade(df):
    df['avg_grade'] = df[['chem_grade','phy_grade','bio_grade']].mean(axis=1)
    return df

multi_pipe = [
    MultiColProcessor(funcs=[avg_grade], funcs_test={})
]

## Transformer

### applies a feature_engine style transformer to a column/s

In [40]:
from feature_engine.encoding import CountFrequencyEncoder
from feature_engine.imputation import MeanMedianImputer, CategoricalImputer
# add school name so you can encode it

transformers = [
    Transformer(name=['phy_grade'], transformers=[MeanMedianImputer]),
    Transformer(name=['class'], transformers=[CategoricalImputer,CountFrequencyEncoder]),
#     Transformer(name=['class'], transformers=[CountFrequencyEncoder]),
]

In [41]:
# add all pipelines
all_pipes = transformers + pipeline + multi_pipe

In [42]:
all_pipes

[Transformer(phy_grade),
 Transformer(class),
 ColProcessor(chem_grade),
 ColProcessor(phy_grade, bio_grade),
 ColProcessor(age),
 ColProcessor(height),
 ColProcessor(grade),
 MultiColProcessor()]

In [43]:
pipe = Pipe(data=data, pipeline=all_pipes, run_test_cases=True)

## After

In [44]:
pipe.run()

ColProcessor (chem_grade)                   test cases PASSED! 😎
ColProcessor (phy_grade, bio_grade)         test cases NOT FOUND.
ColProcessor (age)                          test cases NOT FOUND.
ColProcessor (height)                       test cases NOT FOUND.
ColProcessor (grade)                        test cases NOT FOUND.

,name,chem_grade,phy_grade,bio_grade,age,height,grade,class,grade_new,avg_grade
0,Jalyiah Darcey,43,77,17,17.000000,396.24,Freshman,17,9,45.666667
1,Eunita Beahm,18,56,67,15.333333,416.56,Freshman,131,9,47.000000
2,Guluzar Bernand,70,97,65,18.000000,398.78,Freshman,53,9,77.333333
3,Jonatham Mcnicoll,95,68,92,17.000000,378.46,Freshman,85,9,85.000000
4,Greison Hisrich,93,96,49,14.000000,414.02,Freshman,131,9,79.333333
...,...,...,...,...,...,...,...,...,...,...
281,Bremen Hewatt,73,67,46,14.000000,340.36,Freshman,85,9,62.000000
282,Venerino Billey,26,63,60,17.000000,330.20,Freshman,131,9,49.666667
283,Aylmar Berken,55,47,96,18.000000,393.70,Freshman,131,9,66.000000
284,Lhiam Roysum,58,31,76,14.000000,424.18,Freshman,131,9,55.000000
285,Lagena Kan,20,55,83,18.000000,335.28,Freshman,131,9,52.666667

## Before

In [22]:
data.head()

,name,chem_grade,phy_grade,bio_grade,age,height,grade,class
0,Jalyiah Darcey,26/60,77.0,17,17,156cm,Freshman,NaN
1,Eunita Beahm,11/60,56.0,67,184m,164cm,Freshman,C
2,Guluzar Bernand,42/60,97.0,65,18,157cm,Freshman,A
3,Jonatham Mcnicoll,57/60,68.0,92,17,149cm,Freshman,B
4,Greison Hisrich,56/60,96.0,49,14,163cm,Freshman,C

In [23]:
a = None

In [24]:
a == None

True

False