In [1]:
import pandas as pd
from dukto import Pipe, Processor
import numpy as np

In [2]:
def get_markdown(df, n):
    sample = df.sample(n).reset_index(drop=True).to_markdown()
    return sample

In [3]:
last = pd.read_csv('notes/last_names.all.txt')
first = pd.read_csv('https://raw.githubusercontent.com/Debdut/names.io/master/first_names.all.txt')

### names

In [4]:
first_option = first.iloc[:,0].sample(1000).tolist()
last_options = last.iloc[:,0].sample(1000).tolist()
df = pd.DataFrame({'first_name':first_option,
 'last_name':last_options,})
name = (df.first_name.str.title() + ' '+ df.last_name.str.title()).tolist()

### grades

In [5]:
chem_grade_options = [f"{i}/60" for i in  np.random.choice(range(60), size=1000)]
ph_grades_options = [str(i) for i in np.random.choice(a=np.arange(0,100), size=1000, p=np.linspace(0,100,100)/ sum(np.linspace(0,100,100)))]

### age

In [8]:
age = [i for i in np.random.choice(np.arange(168, 216), size=1000)]
age_options = [str(i)+"m" if np.random.choice([0,1], p=[0.7,0.3]) else f"{round(int(i)/12)}" for i in age]

### Height

In [9]:
height = [i for i in np.random.choice(np.arange(168, 216), size=1000)]
height_options = [str(i)+"cm" if np.random.choice([0,1], p=[0.7,0.3]) else f"{round(int(i)*0.393701)}in" for i in np.random.choice(np.arange(130, 170), size=1000)]

In [13]:
data = pd.DataFrame({
    'name':name,
    'chem_grade': chem_grade_options,
    'phy_grade':ph_grades_options,
    'bio_grade':np.random.choice(ph_grades_options, size=1000),
    'age': age_options,
    'height':height_options,
    'age2':age
    
})

In [14]:
dev = data[data.height.str.contains('in')].copy().reset_index(drop=True)
prod = data[data.height.str.contains('cm')].copy().reset_index(drop=True)

In [15]:
def get_grade(n, dev=True):
    if 14 <= n >= 15:
        return ('9th' if dev else 'Freshman')
    elif 15 <= n >= 16:
        return ('10th' if dev else 'Sophomore')
    elif 16 <= n >= 17:
        return ('11th' if dev else 'Junior')
    elif 17 <= n >= 18:
        return ('12th' if dev else 'Senior')

In [16]:
dev['grade'] = dev.age2.apply(get_grade)
prod['grade'] = prod.age2.apply(get_grade, dev=False)

In [17]:
prod.drop('age2', axis=1, inplace=True)
dev.drop('age2', axis=1, inplace=True)

In [18]:
dev.to_csv('data/student_dev.csv')
prod.to_csv('data/student_prod.csv')

                  name chem_grade phy_grade bio_grade   age height     grade
0       Jalyiah Darcey      26/60        77        17    17  156cm  Freshman
1         Eunita Beahm      11/60        56        67  184m  164cm  Freshman
2      Guluzar Bernand      42/60        97        65    18  157cm  Freshman
3    Jonatham Mcnicoll      57/60        68        92    17  149cm  Freshman
4      Greison Hisrich      56/60        96        49    14  163cm  Freshman
..                 ...        ...       ...       ...   ...    ...       ...
281      Bremen Hewatt      44/60        67        46    14  134cm  Freshman
282    Venerino Billey      16/60        63        60    17  130cm  Freshman
283      Aylmar Berken      33/60        47        96    18  155cm  Freshman
284       Lhiam Roysum      35/60        31        76    14  167cm  Freshman
285         Lagena Kan      12/60        55        83    18  132cm  Freshman

[286 rows x 7 columns]