In [13]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [14]:
import pandas as pd
from dukto.processor import Processor
from dukto.pipe import Pipe
import numpy as np

In [70]:
dev  = pd.read_csv('data/student_dev.csv', index_col=0)
prod = pd.read_csv('data/student_prod.csv', index_col=0)

In [74]:
pipeline = [Processor(['chem_grade'], 
                      dev=lambda x:(int(x.split('/')[0])/60)*100,
                      dev_test={'30/60' : 50.0})]

In [75]:
devpipe = Pipe(data=dev, pipeline=pipeline,mode='dev',run_test_cases=True )

In [76]:
devpipe.run()

(chem_grade) dev test cases.. PASSED!

,name,chem_grade,phy_grade,bio_grade,age,height,grade
0,Anjelica Mccrossen,66.666667,50,52,17,55in,9th
1,Billie-Rose Garofolo,13.333333,98,66,15,57in,9th
2,Cyrita Reesor,78.333333,46,35,18,56in,9th
3,Kiyanna Glaeser,6.666667,96,64,174m,56in,9th
4,Giangiorgio Shelenberger,58.333333,80,31,187m,62in,9th
...,...,...,...,...,...,...,...
709,Onalee Ryals,63.333333,81,49,14,66in,9th
710,Jomira Fiedler,43.333333,98,93,17,58in,9th
711,Rether Fincel,60.000000,76,9,18,65in,9th
712,Reyelle Mazzola,5.000000,83,93,16,58in,9th
713,Sijtske Skare,21.666667,72,51,14,55in,9th

In [61]:
data = pd.Series(data={'50':50, "20":20}).to_frame().reset_index()
data.columns = ['in', 'out']

In [68]:
a = Processor(['phy_grade', 'bio_grade'], 
                      dev=lambda x:int(x),
                      dev_test={'50':50, "20":20},
                      prod_test={50:"50", "20":20},run_test_cases=True
                     )

In [69]:
a.test(mode='dev')

(phy_grade, bio_grade) dev test cases.. PASSED!

In [ ]:
devpipe = Pipe(data=dev, pipeline=,mode='dev')