In [2]:
import hypothesis

In [27]:
def encode(input_string):
    if not input_string:
        return ''
    count = 1
    prev = ""
    lst = []
    for character in input_string:
        if character != prev:
            if prev:
                entry = (prev, count)
                lst.append(entry)
            count = 1
            prev = character
        else:
            count += 1
    entry = (character, count)
    lst.append(entry)
    return lst

In [28]:

def decode(lst):
    q = ""
    for character, count in lst:
        q += character * count
    return q

In [45]:
decode2 = lambda lst: ''.join([i[0]*i[1] for i in lst])

In [30]:
a = encode('Ahmed')

In [31]:
decode(a) == decode2(a)

True

In [32]:
decode('')

''

In [33]:
from hypothesis import given
from hypothesis.strategies import text

In [47]:

@given(hypothesis.strategies.text())
def test_decode_inverts_encode(s):
    assert decode2(encode(s)) == s

In [48]:
test_decode_inverts_encode()

In [49]:
decode2(encode('00'))

'00'

In [50]:
encode('00')

[('0', 2)]

In [59]:
from hypothesis.extra.pandas import indexes, range_indexes,series, column, columns, data_frames
from hypothesis.strategies import text, integers, floats, datetimes

In [69]:
import hypothesis

In [66]:
from hypothesis.extra.pandas import column, data_frames
data_frames([
        column('age', dtype=int, elements=integers(min_value=5, max_value=100), ), 
        column('B', dtype=float,)
#         column('',)
]).example()

   age           B
0   20 -10000000.0
1   67         NaN

In [76]:
hypothesis.strategies.dates().example()

datetime.date(2000, 1, 1)