In [9]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [10]:
from dukto import Processor, Pipe
import pandas as pd
import numpy as np

ImportError: cannot import name 'Processor' from 'dukto' (H:\myprojects\Process\dukto\dukto\__init__.py)

In [22]:
dev  = pd.read_csv('data/student_dev.csv', index_col=0)
prod = pd.read_csv('data/student_prod.csv', index_col=0)

In [23]:
def grade_prod_mapper(g):
    return {'Freshman':"9th",'Sophomore':"10th",'Junior':'11th','Senior':"12th"}[g]

pipeline = [Processor('chem_grade', 
                      dev=lambda x:(int(x.split('/')[0])/60)*100, ),
            Processor(['phy_grade', 'bio_grade'], 
                      dev=lambda x:int(x)),
            Processor('age', 
                      dev=lambda x:int(x[:-1])/12 if 'm' in x else int(x)),
            Processor('height', 
                      dev=lambda x:float(x[:-2])*2.54, 
                      prod= lambda x:float(x[:-2])),
            Processor('grade', 
                      dev=lambda x:int(x[:-2]),
                      prod=[grade_prod_mapper, lambda x:int(x[:-2])], suffix='_new')
           ]

In [6]:
pipeline

[Processor(chem_grade),
 Processor(['phy_grade', 'bio_grade']),
 Processor(age),
 Processor(height),
 Processor(grade)]

In [7]:
devpipe = Pipe(data=dev, pipeline=pipeline,mode='dev')

In [8]:
devpipe.run()

>>> ['chem_grade']
name chem_grade
>>> ['phy_grade', 'bio_grade']
name phy_grade
name bio_grade
>>> ['age']
name age
>>> ['height']
name height
>>> ['grade']
name grade

,name,chem_grade,phy_grade,bio_grade,age,height,grade,grade_new
0,Anjelica Mccrossen,66.666667,50,52,17.000000,139.70,9th,9
1,Billie-Rose Garofolo,13.333333,98,66,15.000000,144.78,9th,9
2,Cyrita Reesor,78.333333,46,35,18.000000,142.24,9th,9
3,Kiyanna Glaeser,6.666667,96,64,14.500000,142.24,9th,9
4,Giangiorgio Shelenberger,58.333333,80,31,15.583333,157.48,9th,9
...,...,...,...,...,...,...,...,...
709,Onalee Ryals,63.333333,81,49,14.000000,167.64,9th,9
710,Jomira Fiedler,43.333333,98,93,17.000000,147.32,9th,9
711,Rether Fincel,60.000000,76,9,18.000000,165.10,9th,9
712,Reyelle Mazzola,5.000000,83,93,16.000000,147.32,9th,9
713,Sijtske Skare,21.666667,72,51,14.000000,139.70,9th,9

In [9]:
devpipe

        Mode: dev
        input data shape: (714, 7)

            Columns: ['chem_grade']
            Time to finish: 0.002

            Columns: ['phy_grade', 'bio_grade']
            Time to finish: 0.002

            Columns: ['age']
            Time to finish: 0.001

            Columns: ['height']
            Time to finish: 0.001

            Columns: ['grade']
            Time to finish: 0.001

In [10]:
prodpipe = Pipe(data=prod, pipeline=pipeline,mode='prod')

In [11]:
prodpipe.run()

>>> ['chem_grade']
name chem_grade
>>> ['phy_grade', 'bio_grade']
name phy_grade
name bio_grade
>>> ['age']
name age
>>> ['height']
name height
>>> ['grade']
name grade

,name,chem_grade,phy_grade,bio_grade,age,height,grade,grade_new
0,Jalyiah Darcey,43.333333,77,17,17.000000,156.0,Freshman,9
1,Eunita Beahm,18.333333,56,67,15.333333,164.0,Freshman,9
2,Guluzar Bernand,70.000000,97,65,18.000000,157.0,Freshman,9
3,Jonatham Mcnicoll,95.000000,68,92,17.000000,149.0,Freshman,9
4,Greison Hisrich,93.333333,96,49,14.000000,163.0,Freshman,9
...,...,...,...,...,...,...,...,...
281,Bremen Hewatt,73.333333,67,46,14.000000,134.0,Freshman,9
282,Venerino Billey,26.666667,63,60,17.000000,130.0,Freshman,9
283,Aylmar Berken,55.000000,47,96,18.000000,155.0,Freshman,9
284,Lhiam Roysum,58.333333,31,76,14.000000,167.0,Freshman,9
285,Lagena Kan,20.000000,55,83,18.000000,132.0,Freshman,9

In [12]:
def get_markdown(df, n):
    sample = df.head(n).reset_index(drop=True).to_markdown()
    return sample

In [13]:
print(get_markdown(dev, 3))

|    | name                 | chem_grade   |   phy_grade |   bio_grade |   age | height   | grade   |
|---:|:---------------------|:-------------|------------:|------------:|------:|:---------|:--------|
|  0 | Anjelica Mccrossen   | 40/60        |          50 |          52 |    17 | 55in     | 9th     |
|  1 | Billie-Rose Garofolo | 8/60         |          98 |          66 |    15 | 57in     | 9th     |
|  2 | Cyrita Reesor        | 47/60        |          46 |          35 |    18 | 56in     | 9th     |

In [14]:
res= devpipe.run()

>>> ['chem_grade']
name chem_grade
>>> ['phy_grade', 'bio_grade']
name phy_grade
name bio_grade
>>> ['age']
name age
>>> ['height']
name height
>>> ['grade']
name grade

In [15]:
prodres = prodpipe.run()

>>> ['chem_grade']
name chem_grade
>>> ['phy_grade', 'bio_grade']
name phy_grade
name bio_grade
>>> ['age']
name age
>>> ['height']
name height
>>> ['grade']
name grade

In [16]:
print(get_markdown(dev, 3))

|    | name                 | chem_grade   |   phy_grade |   bio_grade |   age | height   | grade   |
|---:|:---------------------|:-------------|------------:|------------:|------:|:---------|:--------|
|  0 | Anjelica Mccrossen   | 40/60        |          50 |          52 |    17 | 55in     | 9th     |
|  1 | Billie-Rose Garofolo | 8/60         |          98 |          66 |    15 | 57in     | 9th     |
|  2 | Cyrita Reesor        | 47/60        |          46 |          35 |    18 | 56in     | 9th     |

In [17]:
print(get_markdown(res, 3))

|    | name                 |   chem_grade |   phy_grade |   bio_grade |   age |   height | grade   |   grade_new |
|---:|:---------------------|-------------:|------------:|------------:|------:|---------:|:--------|------------:|
|  0 | Anjelica Mccrossen   |      66.6667 |          50 |          52 |    17 |   139.7  | 9th     |           9 |
|  1 | Billie-Rose Garofolo |      13.3333 |          98 |          66 |    15 |   144.78 | 9th     |           9 |
|  2 | Cyrita Reesor        |      78.3333 |          46 |          35 |    18 |   142.24 | 9th     |           9 |

In [18]:
print(get_markdown(prod, 3))

|    | name            | chem_grade   |   phy_grade |   bio_grade | age   | height   | grade    |
|---:|:----------------|:-------------|------------:|------------:|:------|:---------|:---------|
|  0 | Jalyiah Darcey  | 26/60        |          77 |          17 | 17    | 156cm    | Freshman |
|  1 | Eunita Beahm    | 11/60        |          56 |          67 | 184m  | 164cm    | Freshman |
|  2 | Guluzar Bernand | 42/60        |          97 |          65 | 18    | 157cm    | Freshman |

In [19]:
print(get_markdown(prodres, 3))

|    | name            |   chem_grade |   phy_grade |   bio_grade |     age |   height | grade    |   grade_new |
|---:|:----------------|-------------:|------------:|------------:|--------:|---------:|:---------|------------:|
|  0 | Jalyiah Darcey  |      43.3333 |          77 |          17 | 17      |      156 | Freshman |           9 |
|  1 | Eunita Beahm    |      18.3333 |          56 |          67 | 15.3333 |      164 | Freshman |           9 |
|  2 | Guluzar Bernand |      70      |          97 |          65 | 18      |      157 | Freshman |           9 |

In [57]:
{"15", 'sdfs'}

{'15', 'sdfs'}

In [1]:
pd.DataFrame({'one':1, 'two':2}.keys(), columns=['name'])['name']

NameError: name 'pd' is not defined